<?xml version="1.0"?>
<launch>
  <!-- Robot Customization -->
  <arg name="arm_id"      default="rob1"  doc="Name of the robot to launch"/>
  <arg name="hardware"    default="sim"   doc="One of 'sim', 'hal'"/>
  <arg name="sim"         default="true"  doc="Should the hal interface be launched in sim mode?
                                               (only applies if hardware == hal)"/>
  <!-- GDB functionality -->
  <arg name="debug" default="false"/>
  <arg unless="$(arg debug)" name="launch_prefix" value=""/>
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args"/>

  <!-- Load robot_description -->
  <param name="robot_description" command="xacro $(find za_description)/urdf/za.xacro prefix:=$(arg arm_id)_"/>

  <!-- Launch robot -->
  <include file="$(find za_robot)/launch/za_robot.launch" ns="$(arg arm_id)" pass_all_args="true"/>

  <!-- Load hardware interface and controllers -->
  <group ns="$(arg arm_id)">
    <rosparam file="$(find za_control_sandbox)/config/za_controllers.yaml"/>
    <node name="controllers_spawner" pkg="controller_manager" type="controller_manager"
      respawn="false" output="screen"
      args="load nullspace_controller
                 twist_decomposition_controller"/>
  </group>

</launch>
