<?xml version="1.0"?>
<launch>
  <arg name="controller" default="as_nullspace_controller"
       doc="One of 'as_nullspace_controller', 'as_twist_decomposition_controller', 'pose_controller'"/>

  <group ns="rob1">
    <node pkg="za_control_sandbox" type="control_demo.py" name="control_client" output="screen">
      <param name="controller" value="$(arg controller)"/>
      <param name="joint_controller" value="position_trajectory_controller"/>
      <param name="arm_id" value="rob1"/>
    </node>
  </group>
</launch>
