<?xml version="1.0"?>
<launch>
  <!-- Robot Customization -->
  <arg name="arm_id" default="rob1"  doc="Name of the robot to launch"/>

  <!-- GDB functionality -->
  <arg name="debug" default="false"/>
  <arg unless="$(arg debug)" name="launch_prefix" value=""/>
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args"/>

  <!-- Launch simulated robot -->
  <include file="$(find za_control_sandbox)/launch/control_bringup.launch" pass_all_args="true"/>

  <!-- Launch Rviz visualization -->
  <include file="$(find za_control_sandbox)/launch/visualization.launch" pass_all_args="true"/>

</launch>
