<?xml version="1.0"?>
<launch>
  <!-- Robot Customization -->
  <arg name="arm_id"      default="rob1"  doc="Name of the robot to launch"/>

  <!-- Published fused joint states and robot state -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
  <node name="joint_state_publisher" type="joint_state_publisher" pkg="joint_state_publisher">
    <rosparam param="source_list"  subst_value="true">[$(arg arm_id)/joint_states]</rosparam>
    <param name="rate" value="100"/>
  </node>

  <!-- Load rviz visualization -->
  <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find za_control_sandbox)/config/za_control_sandbox.rviz"/>

</launch>
